
/* extra small device responsive css start */
@media(min-width: 300px) and (max-width: 575px) {

	.navbar .navbar-brand {
		transform: skewX(0deg);
		background: none;
	}

	.navbar .navbar-brand img {
		transform: skewX(0deg);
	}

	.navbar-toggler {
		background: #fff;
		border-radius: 2px;
	}

	.navbar-toggler span {
		color: var(--bclr);
	}

	.navbar .navbar-nav .nav-item {
		background: #fff;
	}

	.navbar .navbar-nav .nav-item .nav-link {
		color: var(--bclr);
	}

	#banner .banner-item {
		padding-top: 150px;
	}

	#banner .banner-item .banner-text h3 {
		font-family: var(--oswald);
		font-size: 25px;
		font-weight: 700;
	}

	#banner .banner-item .banner-text h1 {
		font-family: var(--oswald);
		font-size: 40px;
		font-weight: 700;
	}

	#banner .banner-item .banner-text p {
		font-family: var(--open);
		font-size: 13px;
		font-weight: 400;
		color: #f7f7f7;
		line-height: 18px;
	}

	#about {
		padding-top: 30px;
	}

	#about .about-text {
		margin-bottom: 20px;
	}

	#gallery {
		padding-top: 30px;
	}

	#team {
		padding-top: 30px;
	}
	#testimonial .test-item .feedback-img img{
	width: 100%;
	}
	#plans {
		margin-top: 30px;
	}

	#plans .plan-item {
		margin-bottom: 30px;
	}

	#counter {
		margin-top: 30px;
		padding: 0 30px;
	}

	#classes {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#classes .nav-item {
		width: 50%;
		text-align: center;
	}

	#classes .tab-content .tab-pane .all-class .class-item {
		width: 19.2%;
		transition: all linear 0.2s;
		-o-transition: all linear 0.2s;
		-ms-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
	}

	#classes .tab-content .tab-pane .all-class .class-item p {
		font-size: 12px;
	}

	#classes .tab-content .tab-pane .all-class .class-item p:last-of-type {
		font-size: 12px;

	}

	footer {
		margin-top: 50px;
	}

	footer .footer-item .opening {
		padding-bottom: 30px;
	}

	footer .footer-item .twitter {
		padding-bottom: 30px;
	}

	footer .footer-item .contact ul li:nth-child(2) {
		margin-bottom: 20px;
	}

}

/* extra small device responsive css ends */


















/* small device responsive css start */
@media(min-width: 576px) and (max-width: 767px) {

	.navbar .navbar-brand {
		transform: skewX(0deg);
		background: none;
	}

	.navbar .navbar-brand img {
		transform: skewX(0deg);
	}

	.navbar-toggler {
		background: #fff;
		border-radius: 2px;
	}

	.navbar-toggler span {
		color: var(--bclr);
	}

	.navbar .navbar-nav .nav-item {
		background: #fff;
	}

	.navbar .navbar-nav .nav-item .nav-link {
		color: var(--bclr);
	}

	#banner .banner-item {
		padding-top: 150px;
	}

	#banner .banner-item .banner-text h3 {
		font-family: var(--oswald);
		font-size: 25px;
		font-weight: 700;
	}

	#banner .banner-item .banner-text h1 {
		font-family: var(--oswald);
		font-size: 40px;
		font-weight: 700;
	}

	#banner .banner-item .banner-text p {
		font-family: var(--open);
		font-size: 13px;
		font-weight: 400;
		color: #f7f7f7;
		line-height: 18px;
	}

	#about {
		padding-top: 30px;
	}

	#about .about-text {
		margin-bottom: 20px;
	}

	#gallery {
		padding-top: 30px;
	}

	#team {
		padding-top: 30px;
	}

	#plans {
		margin-top: 30px;
	}

	#plans .plan-item {
		margin-bottom: 30px;
	}

	#counter {
		margin-top: 30px;
		padding: 0 30px;
	}

	#classes {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#classes .nav-item {
		width: 50%;
		text-align: center;
	}

	#classes .tab-content .tab-pane .all-class .class-item {
		width: 19.2%;
		transition: all linear 0.2s;
		-o-transition: all linear 0.2s;
		-ms-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
	}

	#classes .tab-content .tab-pane .all-class .class-item p {
		font-size: 12px;
	}

	#classes .tab-content .tab-pane .all-class .class-item p:last-of-type {
		font-size: 12px;

	}

	footer {
		margin-top: 50px;
	}

	footer .footer-item .opening {
		padding-bottom: 30px;
	}

	footer .footer-item .twitter {
		padding-bottom: 30px;
	}

	footer .footer-item .contact ul li:nth-child(2) {
		margin-bottom: 20px;
	}

}

/* small device responsive css ends */